In [29]:
import pandas as pd

In [30]:
mnames = ['movie_id', 'movie_name']
movies = pd.read_csv('data.csv', sep=')', skiprows=1, names=mnames, header=None, encoding='ISO-8859-1')

In [31]:
movies[100:220]

                                      movie_id        movie_name
100                        102,Mr. Wrong (1996           ,Comedy
101                    103,Unforgettable (1996         ,Thriller
102                    104,Happy Gilmore (1996           ,Comedy
103  105, Bridges of Madison County, The (1995    ,Drama|Romance
104     106,Nobody Loves Me (Keiner liebt mich             (1994
..                                         ...               ...
215                 217, Babysitter, The (1995   ,Drama|Thriller
216                 218,Boys on the Side (1995     ,Comedy|Drama
217                       219, Cure, The (1995            ,Drama
218                     220,Castle Freak (1995           ,Horror
219                222,Circle of Friends (1995    ,Drama|Romance

[120 rows x 2 columns]

In [23]:
movies[['movie_id','year']] = movies['movie_id'].str.split('(',expand=True, n=1)
movies[['movie_id','name']] = movies['movie_id'].str.split(',',expand=True, n=1)
movies = movies.replace(',','', regex=True)
movies['genre']= movies['movie_name'].str.split('|')
movies = movies.drop('movie_name', axis = 1)
movies[:5]

,movie_id,year,name,genre
0,1,1995,Toy Story,"[Animation, Children's, Comedy]"
1,2,1995,Jumanji,"[Adventure, Children's, Fantasy]"
2,3,1995,Grumpier Old Men,"[Comedy, Romance]"
3,4,1995,Waiting to Exhale,"[Comedy, Drama]"
4,5,1995,Father of the Bride Part II,[Comedy]

1. An aggregate on the number of rating done for each particular genre, e.g., Action, Adventure, Drama, Science Fiction, ..

In [24]:

flatdata = pd.DataFrame([( index, value) for ( index, values)
                         in movies[ 'genre' ].iteritems() for value in values],
                             columns = [ 'index', 'genre']).set_index( 'index' )
  
movies = movies.drop('genre', axis = 1 ).join(flatdata )
movies[:135]

   movie_id  year                    name       genre
0         1  1995              Toy Story    Animation
0         1  1995              Toy Story   Children's
0         1  1995              Toy Story       Comedy
1         2  1995                Jumanji    Adventure
1         2  1995                Jumanji   Children's
..      ...   ...                     ...         ...
71       72  1995  Kicking and Screaming        Drama
72       73  1995         Misérables Les        Drama
72       73  1995         Misérables Les      Musical
73       74  1996           Bed of Roses        Drama
73       74  1996           Bed of Roses      Romance

[135 rows x 4 columns]

In [26]:
movies['genre'].unique()

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', ' Comedy',
       'Horror', 'Sci-Fi', ' Adventure', ' (1995', 'Documentary',
       ' Drama', 'War', 'Musical', ' Crime', " Children's", ' (1994',
       'Mystery', ' (1988', ' Horror', 'Film-Noir', ' Sci-Fi',
       ' Documentary', ' (1964', ' Thriller', 'Western', ' Animation',
       ' Action', ' (1992', ' (1993', ' Mystery', ' (1976', ' Western',
       ' (1973', ' (1991', ' Romance', ' (1959', ' (1981', ' (1996',
       ' (1987', ' (1982', ' (1968', ' (1990', ' Fantasy', ' (1956',
       ' (1958', ' Musical', ' Film-Noir', ' (1950', ' (1930', '(1982',
       ' (1986', ' (1942', ' (1979', ' (1989', ' (1957', ' (1985',
       ' (1974', ' (1922', ' (1970', ' (1997', ' (1963',
       ' (Shichinin no samurai', ' (1978', ' (1998', ' (1975', ' (1954',
       ' (1984', ' (1962', ' (1977', ' (1965', ' War', ' (1961', ' (1919',
       ' (1945', ' (1966', ' (1999', ' (1934', ' (1948', ' (1971',
       ' (1937', ' (1960', ' (1949', ' (1972', ' (1931', ' (1980',
       ' (1925', ' (2000', ' (1969'], dtype=object)

In [27]:
len(movies[movies['genre'].str.contains('Comedy')])

1144

In [28]:
len(movies[movies['genre'].str.contains('Drama')])

1430